<div class="container top-30">
    <div class="row">

        <div class="col-md-3">

          <div><label >Buscador de artistas: </label></div>

          <input [(ngModel)]="termino" (keyup)="buscarArtistas()"
            type="text" class="form-control"
            name="termino"
            placeholder="Buscar por artista">
          <hr>
        </div>

      <div class="col-md-9">
         <div class="row">
           <div class="col-md-3 text-center puntero"
                *ngFor="let artista of _spotifyService.artistas"
                [routerLink]="['/artista', artista.id]">
             <img class="img-fluid img-thumbnail" [src]="artista.images | sinfoto">
             <p>
               {{artista.name}}
             </p>
             <hr>
           </div>
         </div>


      </div>

    </div>
</div>
